
# ignore Python temporary and compiled files
__pycache__
*.pyc

# ignoring python package files and dirs
*.pth
belief_propagation.egg-info/

# inore generated Jupyter files
*.ipynb_checkpoints/

# ignore compressed files, pickles and datasets
*.zip
*.tar.gz
*.pickle
data/
*.xyz
datasets/

# Mac
.DS_Store

# VScode
.vscode/

# ignore Latex temporary files
*.aux
*.bbl
*.bcf
*.blg
*.log
*.nav
*.toc
*.tcp
*.tps
*.snm
*.fls
*.synctex
*.fdb_latexmk

# ignore test files
test.*
test/
